@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-white: #fff,blue,rgb(24, 214, 214),black;
  --font-test: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: var(--font-test); 
}

.App {
  text-align: center;
  height: 100%; 
  width: 100%; 
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
}

.Top-bar {
  height: 100px; 
  background-color: rgba(0, 0, 0, 0.5); 
  width: 100%; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  position: relative; 
  z-index: 1; 
}

.Acceuil {
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/public/assets/test.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.Acceuil h1 {
  font-size: 50px;
  font-family: var(--font-test);
  font-weight: 500;
  margin: 0;
  display: block;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
  z-index: 2;
}

.Acceuil p {
  font-size: 20px;
  font-family: var(--font-test);
  font-weight: 500;
  margin: 0;
  display: block;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin-top: 20px;
  margin-bottom: 0;
  z-index: 0;
}

.Acceuil button {
  background-color: rgb(24, 214, 214);
  color: black;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  z-index: 1;
}

/* Assurer que le paragraphe p est sous le bouton */
.Acceuil .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Acceuil-1 {
  background-color:rgb(24, 224, 224);
  color:black;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: 20PX auto;
  text-align: center;
  box-shadow: 0px 4px 10px rgb(0, 0, 0,0.1) ;
  position: relative;
}

.Acceuil-1::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 20px;
  border-style: solid;
  border-color: #050a10 transparent transparent transparent;
}

.span {
  font-weight: bold;
}

.buttons {
  margin-top: 15px;
}

.button-1,
.button-2 {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin: 5px;
}

.button-1 {
  background-color: white;
  color: black;
  border: 2px solid white;
}

.button-2{
  background-color: white;
  color: black;
  border: 2px solid white;
}

.button-1:hover,
.button-2:hover {
  background-color: rgba(255, 255, 255, 0.8);
}














